
.w-app-minimum {
  min-width: 280px;
}

.bg-grain {
  background-image: url("grain.svg");
  background-repeat: repeat;
  background-attachment:  local;
  background-blend-mode: multiply;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

input, textarea, label {
  outline: none;
}